body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(background_green.png);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* לוח המשחק */
#bord {
    display: grid;
    grid-template-columns: repeat(8, 80px);
    grid-template-rows: repeat(8, 80px);
    gap: 2px;
    background: #0b3d0b;
    box-shadow: 0 0 40px rgba(0,0,0,0.7);
    border-radius: 10px;
    padding: 2px;
}

/* כפתורים */
button {
    width: 80px;
    height: 80px;
    background-color: aqua;
    border: 1px solid #2c3e50;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: all 0.2s;
}

    button:hover {
        background-color: #1abc9c;
        transform: scale(1.05);
    }

/* סקורבורד */
#scoreboard {
    display: block;
    background-color: aqua;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    padding: 15px;
    border-radius: 10px;
}

    #scoreboard p {
        color: #2c3e50;
        font-size: 20px;
        font-weight: bold;
        margin: 0;
    }

#white_count, #black_count, #turn {
    font-size: 24px;
    font-weight: bold;
    color: forestgreen;
}

/* הודעת סיום */
#game-end-message {
    width: 500px;
    display: none;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: orange;
    padding: 20px;
    border-radius: 10px;
}

/* דיסקיות */
.disc {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

    .disc.white {
        background: radial-gradient(circle at 30% 30%, #fff, #dcdcdc);
    }

    .disc.black {
        background: radial-gradient(circle at 30% 30%, #555, #000);
    }

    /* אנימציה */
    .disc.place {
        transform: scale(0);
        animation: pop 0.25s forwards;
    }

@keyframes pop {
    to {
        transform: scale(1);
    }
}

.disc.flip {
    animation: flip 0.4s;
}

@keyframes flip {
    0% {
        transform: rotateY(0);
    }

    50% {
        transform: rotateY(90deg);
    }

    100% {
        transform: rotateY(180deg);
    }
}
